h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph {
    display: flex;
    justify-content: center;
    align-items: justify;
    font-size: 10px;
    line-height: 25px;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

.top {
    position: relative;
    text-align: center;
    color: white;
}

.main {
    display: flex;
    justify-content: space-between;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
}

.water {
    width: 100%;
    margin: 0;
    height: 20%
}

img {
    display: inline-block;
}

.more {
    position: relative;
}

.img {
    display: flex;
    height: 20%;
    width: 35%;
    border-radius: 3px;
    margin-right: 15px;
    margin-top: 15px;
}

.box1 {
    position: absolute;
    color: orange;
    font-size: 10px;
    right: 65px;
    bottom: 365px;
    /*letter-spacing: 5px;*/
}

.box2 {
    position: absolute;
    color: orange;
    font-size: 10px;
    right: 40px;
    bottom: 225px;
    /* letter-spacing: 7px;*/
}

.box3 {
    position: absolute;
    color: blue;
    font-size: 10px;
    right: 35px;
    bottom: 60px;
    /*letter-spacing: 7px;*/
}

@media only screen and (min-width: 768px) {
    .more {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .box1 {
        left: 15px;
    }
    .box2 {}
    .box3 {}
}